<ul class="no-bullets">
	<li>
		<img src="gfx/icons/other/new.svg" class="icon" />
		<a href="#" open-action="new" data-prop="$openNew">Create new</a>
	</li>
	<li>
		<img src="gfx/icons/other/load.svg" class="icon" />
		<a href="#" open-action="open" data-prop="$openLocalFile">Load file</a>
	</li>
	<li>
		<img src="gfx/icons/other/dropbox.svg" class="icon" />
		<a href="#" open-action="dropbox" data-prop="$openDropboxFile">Open from Dropbox</a>
	</li>
	<li>
		<img src="gfx/icons/other/gd.svg" class="icon" />
		<a href="#" open-action="googledrive" data-prop="$openGoogleDriveFile">Open from Google Drive</a>
	</li>
	<li class="last-used" data-prop="$lastUsed">
		<img src="gfx/icons/other/reuse.svg" class="icon" />Last editor's content:&nbsp;
		<a href="#" open-action="last" data-prop="$lastUsedTitle"></a>&nbsp;<span data-prop="$lastUsedDate"></span></li></ul>
<h1>Samples</h1>
<ul>
	<li>
		<a href="#" open-action="sample" value="brick_and_steel">
			<i>Brick & Steel</i>
		</a>&nbsp;by Stu Maschwitz</li>
	<li>
		<a href="#" open-action="sample" value="my_living_memory">
			<i>My Living Memory</i>
		</a>&nbsp;by Dan Rahmel</li>
	<li>
		<a href="#" open-action="sample" value="printing_trouble">
			<i>Printing Trouble</i>
		</a>&nbsp;by Dan Rahmel</li>
</ul>
<div id="open-file-wrapper" data-prop="$fileWrapper"></div>
