<ul>
    <li>Fountain:
        <a href="#" action="save-fountain" data-prop="$saveFountainLocally">download</a>
        <span>&nbsp;|&nbsp;
            <a href="#" action="save-dropbox-fountain" data-prop="$saveFountainDropbox">send to Dropbox</a>
        </span>
        <span>&nbsp;|&nbsp;
            <a href="#" action="save-gd-fountain" data-prop="$saveFountainGoogleDrive">send to Google Drive</a>
            <div id="google-drive-div-fountain"></div>
            <div id="container">
                <div class="g-savetodrive"
                     data-filename="script.pdf"
                     data-sitename="'afterwriting">
                </div>
            </div>
        </span>
    </li>
    <li>PDF:
        <a href="#" action="save-pdf" data-prop="$savePdfLocally">download</a>
        <span>&nbsp;|&nbsp;
            <a href="#" action="save-dropbox-pdf" data-prop="$savePdfDropbox">send to Dropbox</a>
        </span>
        <span>&nbsp;|&nbsp;
            <a href="#" action="save-gd-pdf" data-prop="$savePdfGoogleDrive">send to Google Drive</a>
            <div id="google-drive-div-pdf"></div>
        </span>
    </li>
    <li>Mobile/Kindle friendly PDF:
        <a href="#" action="save-mobile-pdf" data-prop="$saveMobilePdfLocally">download</a>
    </li>
</ul>