<div class="header-menu">
    <span>auto-save: <a href="#" action="auto-save" title="Auto-save to cloud" data-prop="$autoSave"><img
            class="auto-save-icon sync-icon icon small-icon" data-prop="$autoSaveIcon"/></a>&nbsp;|&nbsp;</span>
    <span>auto-reload: <a href="#" action="sync-fountain" title="Auto-reload from cloud/disk" data-prop="$autoLoad"><img
            class="auto-reload-icon sync-icon icon small-icon" data-prop="$autoLoadIcon"/></a>&nbsp;|&nbsp;</span>
    <span>save .fountain: <a href="#" action="save-fountain" data-prop="$saveFountainLocally"><img src="gfx/icons/other/download.svg"
                                                                  class="icon small-icon"
                                                                  title="Download Fountain file"/></a></span>
    <span data-prop="$saveDropbox"><a href="#" action="save-dropbox-fountain" data-prop="$saveFountainDropbox"><img src="gfx/icons/other/dropbox.svg"
                                                          class="icon small-icon"
                                                          title="Upload Fountain file to Dropbox"/></a></span>
    <span data-prop="$saveGoogleDrive"><a href="#" action="save-gd-fountain" data-prop="$saveFountainGoogleDrive"><img src="gfx/icons/other/gd.svg" class="icon small-icon"
                                                     title="Upload Fountain file to Google Drive"/></a></span>
</div>