.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
src/**
screenplays/**
*.ai
icon_fullres.png
screenshots/**
working/**
.env

#The following are unecessary for the extension, and take up a ton of space
node_modules/pdfkit/js/pdfkit.standalone.js
node_modules/png-js/images/*.png
node_modules/**/*.md
node_modules/**/test/

