<p>
	<span><em>'Afterwriting</em>&nbsp;is a place where you can play with some screenwriting tools. You can open screenplays written in <a href="http://fountain.io/" target="_blank"><strong>Fountain format</strong></a> or <a href="http://www.finaldraft.com/" target="_blank"><strong>Final Draft</strong></a> (it will be converted to fountain). You can also use one of the</span>
	<span data-comp="switchToOpen" class="switch" href="#" section="open"></span><span>.</span></p>

<h2>Offline</h2>

<p>There's an offline version too! Just download
	<a href="afterwriting.zip" id="download-link" data-prop="$downloadLink">file</a>, unzip and double click on afterwriting.html.</p>
<p>
	It's a client-side only app. That means your screenplay is never sent out of your PC.
</p>


<h2>Command Line Interface</h2>

<p>'Afterwriting is also available as Command Line Interface. More details <a href="https://github.com/ifrost/afterwriting-labs/blob/master/docs/clients.md" target="_blank"> on GitHub</a></p>

<p>
<h2>Contact</h2>
<p><a href="http://twitter.com/afterwriting" target="_blank" title="twitter.com/afterwriting"><img src="gfx/icons/other/twitter.svg" class="icon" />@afterwriting</a></p>
<p><a href="http://blog.afterwriting.com" target="_blank" title="blog.afterwriting.com"><img src="gfx/icons/other/blogger.svg" class="icon" />blog.afterwriting.com</a></p>
<p><a href="mailto:contact@afterwriting.com" title="contact@afterwriting.com"><img src="gfx/icons/other/email.svg" class="icon" />contact@afterwriting.com</a></p>
<p><a href="http://about.me/piotr.jamroz" target="_blank"><img src="gfx/icons/other/about.me.svg" class="icon" />about.me</a>
<p><a href="https://github.com/ifrost/afterwriting-labs" target="_blank"><img src="gfx/icons/other/github.svg" class="icon" />GitHub</a>
</p>
<h2>Thanks</h2>
<p>
	<ul>
		<li>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
		</li>
		<li>Sample scripts:
			<ul>
				<li>
					<em>Brick & Steel</em>&nbsp;by
					<a href="http://prolost.com/about/" target="_blank">Stu Maschwitz</a>
				</li>
				<li>
					<em>My Living Memory</em>&nbsp;&amp;&nbsp;<em>Priting Trouble</em>&nbsp;by
					<a href="http://www.webring.org/l/rd?ring=indepfilm;id=59;url=http%3A%2F%2Fwww%2Ecvisual%2Ecom%2F" target="_blank">Dan Rahmel</a>
				</li>				
			</ul>
		</li>
		<li>DayRoman font by
			<a href="http://apostrophiclab.pedroreina.net/" target="_blank">Apostrophic Laboratories</a>
		</li>
		<li>Courier Prime font by
			<a href="http://quoteunquoteapps.com/courierprime/" target="_blank">Quote-Unquote Apps</a>
		</li>
		<li>JS libs:
            <a href="https://github.com/mattdaly/Fountain.js" target="_blank">Fountain.js</a> |
            <a href="https://github.com/eligrey/FileSaver.js" target="_blank">FileSaver.js</a> |
            <a href="http://github.com/jonnyreeves/js-logger" target="_blank">js-logger</a> |
            <a href="http://pdfkit.org/" target="_blank">PDFKit</a> |
            <a href="http://codemirror.net/" target="_blank">CodeMirror</a> |
            <a href="http://jquery.com/" target="_blank">jQuery</a> |
            <a href="http://d3js.org/" target="_blank">d3.js</a> |
            <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> |
            <a href="https://github.com/jrburke/almond" target="_blank">Almond</a> |
            <a href="http://requirejs.org/" target="_blank">RequireJS</a> |
            <a href="http://www.jstree.com/" target="_blank">jstree</a> |
            <a href="http://trentrichardson.com/Impromptu/" target="_blank">JQuery Impromptu</a> |
            <a href="https://mozilla.github.io/pdf.js/" target="_blank">PDF.js</a>
        </li>
	</ul>
</p>
