.lm-Toolbar {

    list-style: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.lm-Toolbar-item{
    width: var(--toolbar-height);
    height:var(--toolbar-height);
    display: inline-block;
    position:relative;
    color: var(--toolbar-item-foreground);
    transition: all 0.1s;
    overflow: hidden;
}
.lm-Toolbar-item.lm-mod-toggled{
    color:var(--toolbar-item-toggled-foreground);
    background:var(--toolbar-item-toggled-background);
    transition: all 0.1s;
}
.lm-Toolbar-item.lm-mod-toggleable::after{
    content: ' ';
    background-color: var(--toolbar-item-toggled-indicator-color);
    position: absolute;
    height: 2px;
    width:100%;
    bottom:0;
    transform: translateY(2px);
    transition: transform 0.1s;
}
.lm-Toolbar-item.lm-mod-toggleable.lm-mod-toggled::after{
    transform: translateY(0);
}
.lm-Toolbar-item:hover{
    background: var(--toolbar-item-hover-background);
    color: var(--toolbar-item-hover-foreground);
}
.lm-Toolbar-item.lm-mod-toggled:hover{
    background: var(--toolbar-item-hover-toggled-background);
    color: var(--toolbar-item-hover-toggled-foreground);
}
.lm-Toolbar-icon{
    position: absolute;
    text-align: center;
    width:var(--toolbar-height);
}

.lm-Toolbar-icon::before{
    font-family: 'codicon';
    font-size:var(--toolbar-fontsize);
    vertical-align: middle;
    line-height: var(--toolbar-height);
}

.lm-Toolbar-item:active .lm-Toolbar-icon{
    transform:scale(1.05);
}

.lm-Toolbar-separator {
    top: 0;
    display: inline-block;
    background-color: var(--toolbar-separator);
    height: calc(var(--toolbar-height));
    width: 1px;
}