/** background image **/
html {
    height: 100%;
    background: #111111 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    overflow: hidden;
    height: 100%;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5em;
}

p {
    text-align: justify;
}

@font-face {
    font-family: 'Day Roman';
    src: url('../fonts/dayroman.ttf');
}

/** loader - "Loading..." text displayed before the page is loaded */
.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    margin-top: -12px;
    margin-left: -35px;
    color: #eeeeee;
}

/** app - main wrapper for the whole application */
.app {
    width: 100%;
    height: 100%;
}

/** main - main content of the theme*/
.main {
    width: 100%;
    height: 100%;
}

/** logo - 'afterwriting logo displayed on top */
.logo {
    margin: 0;
    font-size: 70px;
    padding: 60px 0 20px 0;
    text-align: center;
    font-family: 'Day Roman', serif;
}

.logo__after {
    color: #999999;
}

.logo__apostrophe, .logo__writing {
    color: #eeeeee;
}

.logo__after, .logo__writing {
    letter-spacing: 2px;
}

.background-click {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/** menu **/
.menu {
    padding-top: 50px;
}

.selector {
    width: 360px;
    margin: auto;
    overflow: hidden;
}

.menu-item {
    position: fixed;
    cursor: pointer;
    float: left;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid #eee;
    opacity: 0.8;
}

.menu-item span {
    visibility: hidden;
    color: #fff;
}

/** menu mouse over **/
.menu-item--hover {
    opacity: 1.0;
    border: 5px solid #aaaaaa;
    background-color: rgba(238, 238, 238, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-item--hover span {
    visibility: visible;
    color: #fff;
    background-color: #aaaaaa;
    width: 100%;
    display: block;
    padding: 5px 15px 5px 15px;
    text-align: center;
    position: relative;
    top: -50px;
    left: -15px;
    opacity: 1.0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/** content - main white area with top menu and plugin content **/
.content {
    background-color: #ffffff;
    width: 800px;
    position: fixed;
    padding: 0 10px 0 10px;
    top: 0;
}

.content--expanded {
    width: 100%;
}

/** plugin-contents - container for all plugins */
.plugin-contents {
    padding: 0 30px 0 30px;
    clear: both;
}

/** plugin-content - container for a single plugin */
.plugin-content {
    overflow: auto;
}

/** top-bar - menu bar at the top of the content, contains quick menu items and content actions **/
.top-bar {
    padding: 10px;
    overflow: hidden;
}

.quick-menu-item {
    background-color: #333333;
    border-radius: 25%;
    padding: 5px;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    float: left;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.quick-menu-item--active {
    opacity: 1.0;
}

.quick-menu-item:hover {
    background-color: #111111;
    opacity: 1.0;
}

/** content action for expanding or closing the content */
.content-action {
    float: right;
    padding: 1px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.6;
    background-color: #aaaaaa;
}

.content-action:hover {
    opacity: 0.8;
}

/** footer **/
.main-footer {
    font-size: 13px;
    color: #999999;
    position: fixed;
    font-style: italic;
    text-align: right;
    padding: 5px;
    right: 0;
    bottom: 0;
}

/** small screens **/
@media (max-device-width: 800px) {

    .content-action--close {
        float: none;
        position: absolute;
        left: 50%;
        width: 20%;
        height: 30px;
        border-radius: 10px;
        margin-top: 5px;
        margin-left: -10%;
    }

    .content-action--expand {
        display: none;
    }

    .content {
        width: 100%;
        padding: 0px;
    }

    .logo {
        visibility: hidden;
    }

    .selector {
        width: 270px;
    }

    .quick-menu-item {
        visibility: hidden;
    }

    .plugin-contents {
        padding: 0 5px 0 5px;
    }

    .main-footer {
        font-size: 32px;
        opacity: 0.5;
        z-index: -100;
    }

    .menu-item--hover {
        background: none;
        border: 5px solid #eeeeee;
    }

    .menu-item--hover span {
        visibility: hidden;
    }

    .top-bar {
        padding: 0px;
    }

    .expand {
        display: none;
    }

    .close-content {
        padding: 10px 5px 5px 0;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(127, 127, 127, 0.2);
    border: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333333;
}

/* Night mode */

.night-mode .content {
    background-color: black;
}

.night-mode {
    color: #7f7f7f;
}