body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: '-apple-system','BlinkMacSystemFont','Segoe UI','Helvetica','Arial','sans-serif','Apple Color Emoji','Segoe UI Emoji';
}
body.windowstatus-normal {
  border: solid rgba(0,0,0,0.2) 1px;
}
body.windowstatus-maximized {
  border: solid rgba(0,0,0,0.2) 0px;
}
body.windowstatus-blurred .lm-MenuBar-buttons-btn{
  color:rgb(136, 136, 136);
  transition: color 0.1s;
}
body.windowstatus-normal .lm-MenuBar-buttons-btn-maximize:before{
  content: '\eab9';
}
body.windowstatus-maximized .lm-MenuBar-buttons-btn-maximize:before{
  content: '\eabb';
}
body.windowstatus-blurred .lm-MenuBar-windowtitle{
  opacity:0.5;
}


#main {
  flex: 1 1 auto;
}
#topbar{
  display:flex;
  background-color: var(--background);
  position:relative;
  min-height: var(--toolbar-height);
  max-height: var(--toolbar-height);
}
.lm-mod-sidepanel{
  overflow:hidden;
  background: var(--background);
  min-width:120px;
}
.lm-mod-sidepanel > div{
  height:100%;
}
.lm-mod-sidepanel::after{
  position:absolute;
  content:'';
  left:-16px;
  right:-16px;
  top:0px;
  bottom:-16px;
  box-shadow: inset 0 0px 6px rgba(0,0,0,0.25);
  pointer-events: none;
}

#maincontent{
  height:100%;
  overflow:visible;
}
#dockcentral{
  overflow:visible;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  z-index:1;
}
.toolbar-right{
  position:absolute;
  right:0;
}
.topbar-toolbar{
  max-width: 120px;
}
#topbar-tabs{
  flex-grow: 1;
}
#dock {
  padding: 0px;
}
#menuBar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  z-index:5;
}


.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #C0C0C0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.content > div {
  flex: 1 1 auto;
  border: 1px solid #505050;
  overflow: auto;
}


.content  input {
  margin: 8px;
}


.red > div {
  background: #E74C3C;
}