<div id="pdf-preview-iframe-container" style="display:none; height: 100%"></div>
<div id="pdf-preview-pdfjs-container" style="overflow: autol height: 100%">
    <div>
        <a href="#"><img id="zoomin" src="gfx/icons/viewer/zoomin.svg" class="icon small-icon" data-prop="$zoomIn"
                         title="Zoom in"/></a>
        <a href="#"><img id="zoomout" src="gfx/icons/viewer/zoomout.svg" class="icon small-icon" data-prop="$zoomOut"
                         title="Zoom out"/></a>
    </div>
    <div id="pdfjs-viewer" class="pdfjs-viewer to-the-bottom"></div>
</div>