<div class="header-menu">
    <span data-prop="$saveLocally">save .pdf: <a href="#" action="save-pdf"><img src="gfx/icons/other/download.svg"
                                                        class="icon small-icon" title="Download PDF"/></a></span>
    <span data-prop="$saveDropbox"><a href="#" action="save-dropbox-pdf"><img src="gfx/icons/other/dropbox.svg"
                                                     class="icon small-icon" title="Upload PDF to Dropbox"/></a></span>
    <span data-prop="$saveGoogleDrive"><a href="#" action="save-gd-pdf"><img src="gfx/icons/other/gd.svg" class="icon small-icon"
                                                title="Upload PDF to Google Drive"/></a></span>
</div>