<style>
	.plugin-content[plugin="stats"] svg {
		margin: 20px 0 20px 0;
	}
	
</style>
<p>Some "useless" statistics about your screenplay. Do you have an idea for a chart? Let me know at
	<a href="mailto:contact@afterwriting.com?Subject=Stats%20idea">contact@afterwriting.com</a>!</p>
<div data-comp="whoWithWhoHeader"></div>
<div id="who-with-who" style="text-align: center"></div>

<div data-comp="scriptPulseHeader"></div>
<div id="stats-tempo"></div>

<div data-comp="sceneLengthHeader"></div>
<span>chart colours: </span><select id="stats-scene-length-type" data-prop="$sceneLengthType">
	<option value="day_night">DAY/NIGHT</option>
	<option value="int_ext">INT./EXT.</option>
</select>
<div id="stats-scene-length" width="100%"></div>

<div data-comp="locationsBreakdownHeader"></div>
<div id="locations-breakdown"></div>

<div data-comp="pageBalanceHeader"></div>
<div id="stats-page-balance"></div>

<div data-comp="daysAndNightsHeader"></div>
<div id="stats-days-and-nights" style="text-align: center"></div>

<div data-comp="intVsExtHeader"></div>
<div id="stats-int-ext" style="text-align: center"></div>